doctype html
html
  head
    title SH Gym
    block style 
    block scripts
  body
    nav#navbar 
        ul 
            div#logo
                img(src="https://i.pinimg.com/736x/42/9d/63/429d631659a11a9eb666b103d811470a.jpg", alt="Gym LOGO")
            li  #[a(href = '/') Home]
            li  #[a(href = '/contact') Contact]
            li  #[a(href = '/') Info]
            li  #[a(href = '/') SignIN]
            li  #[a(href = '/') LoginIN]
    block content  
    block foot
      section#footer  
        div.footer 
           h3 Terms . privacy . Private Policy