extends base.pug
block style 
    style 
        include ../static/style.css 
block scripts  
        script(src = '/static/index.js')
block content 
    section#goles
        h1 Eat Sleep Exercise Repeate
        div.goles
            h4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi magni esse necessitatibus sapiente est eius corrupti quisquam perferendis, optio cum, voluptatum ipsam, velit aliquam 
        div.goles
            h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis temporibus inventore aspernatur incidunt nam laborum voluptatem suscipit culpa aliquam, odit cupiditate enim ullam.
        div.goles
            h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi atque rerum. Pariatur obcaecati aperiam distinctio nemo libero inventore voluptatum quibusdam eius sapiente
    section#sponsers 
        h1 Our Sponsers
        div.sponserlogo
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKy7u-vzLCgm0mqk8uprHIJnsRmDYO__tCXQ&usqp=CAU", alt="SpOnserLOGO1")
        div.sponserlogo
            img(src="https://skillsandtech.com/wp-content/uploads/2021/07/How-To-Get-Golds-Gym-Franchise.jpg", alt="")       